.card {
    display: flex;
    align-items: flex-start;
    border: 10rem solid black;
    width: 25em;
    height: 15em;
    border: 0.2rem;
    border-radius: 0.5rem;
    margin: 1.2rem;
    background-color: transparent;
    
}   
.fles{
    display: flex;
    align-items: flex-start

} 
.title {
    border: 10rem solid black;
    border: 0.2rem #000000 solid;
    border-radius: 0.5rem;
    padding: 0.25rem;
    color: black;
    font-size: 30px;
    background-color: transparent;
}
.btn {
    border: 10rem solid black;
    border: 0.2rem #000000 solid;
    border-radius: 0.5rem;
    padding: 0.25rem;
    background-color: transparent;
    font-size: 20px;
    
}
